.banner {
  background: url("../../images/hero-banner.jpg") center center;
  height: 90vh;
  position: relative;
  background-size: cover;
}

.banner__info {
  color: white;
  padding-top: 15vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
  background-color: #000;
  opacity: 0.4;
  height: 80vh;

  h1 {
    font-size: 4rem;
    font-weight: 800;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}

.banner__info > h5 {
  margin-top: 10px;
}

.hotel-form-checker {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
