.banner-tabs {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 80%;
  margin: 5rem auto 0;

  .form-control {
    &:focus {
      border-color: #3f51b5;
      box-shadow: 0 0 0 0.25rem #c2caf9;
    }
  }
}

.select-field {
  height: 40px;
}
